/* Styles the controls on the administration page used for adding, removing and updating the products*/
#controls{
  box-shadow:  0 8px 6px -3px black;
  padding: 20px 10px 10px 20px;
  border: 1px solid #DEDEDE;
  background-color:#E0E0E0;
}

/*Styles the navigation buttons at the top of the admin page*/
.adminNavButton{
  cursor:pointer;
  color:black;
  text-decoration:none;
}

.adminNavButton:hover{
  color:white;
}

#adminNav{
  display: flex;
  display: -webkit-flex;
  flex-direction:row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

#adminNav a{
  background-color: rgba(200,200,200, 0.5);
  padding:10px 30px 10px 30px;
  width:100%;
  text-align:center;
}

#adminNav a:hover{
  background-color: rgba(100,100,100, 1);
}

/* Styles the admin search box*/
#adminSearchBox{
  width:50%;
  padding:5px;
}

/* Styles the admin input boxes in the controls section*/
label{
  text-align:right;
  float:left;
}

#add, #remove, #update{
  width:33%;
  float:left;
}

#update{
  clear:right;
}

fieldset{
  height:360px;
  overflow:scroll;
}


fieldset input, fieldset textarea{
  float:right;
  width:60%;
  padding:5px;
}


fieldset p{
  clear:both;
  padding:5px;
}

#updateProductPhoto, #addProductPhoto{
  border:1px solid grey;
  background-color: #FFFFFF;
  padding:30px;
}

.adminButton{
  padding:6px 15px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  border-radius:7px;
  width:33%;
  border:1px solid #000000;
  margin: 0px 1px;
  box-shadow:  0 8px 6px -6px black;
  font-weight:bold;
}

.adminButton:hover{
  background-color:#FFFFFF;
  color:#207cca;
  cursor:pointer;
  box-shadow:  0 8px 6px -15px black;
}

#addButton, #removeButton{
  float:left;
  width:33%;
}

#updateButton{
  width:33%;
}

/*Admin input END*/


/*Table of Products*/

.adminDescription{
  text-align:left;
}

table{
  margin-top:20px;
  width:100%;
  border: 1px solid #DEDEDE;
  border-collapse:collapse;
  clear:left;
}
table td{
  text-align:center;
  padding:8px;
}

.tableAltColour{
  background-color:#DEDEDE;
}

table th{
  background-color:#ADADAD;
  text-align:center;
  padding:5px;
}
/*Table of Products END*/
