.basketItem{
  border-bottom: 1px solid black;
  border-top:1px solid #F0F0F0;
  border-left:1px solid #F0F0F0;
  border-right:1px solid #F0F0F0;
  padding-bottom:20px;
}

#basketHeading{
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.basketItem .photo{
  float:left;
  height:100px;
  width: 125px;
  margin-right:30px;
}

.basketItem .photo img{
  height:75px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  display:block;
}

.basketItem p{
  font-size:9pt;
  margin-bottom:-7px;
}

.basketItem .itemName{
  font-size:11pt;
  font-weight:bold;
  margin-bottom:0px;
}

#totalPrice{
  margin-left:155px;
  margin-bottom:30px;
}

.basketItem .basketQuantity{
  width: 30px;
}

.removeItem, #paymentButton{
  margin-top:17px;
}



#checkoutButton{
  height:30px;
  margin:0px 5px 0px 5px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

#checkoutButton:hover{
  background-color:#fafafa;
  color:#207cca;
  cursor:pointer;
}

#clearBasket{
  height:30px;
  margin:0px 5px 0px 5px;
  border:2px solid #CC0000;
  background-color:#CC0000;
  color:#fafafa;
}

#clearBasket:hover{
  background-color:#fafafa;
  color:#CC0000;
  cursor:pointer;
}

.removeItem{
  float:right;
  margin-top:-20px;
  height: 20px;
  border:2px solid #CC0000;
  background-color:#CC0000;
  color:#fafafa;
}

.removeItem:hover{
  background-color:#fafafa;
  color:#CC0000;
  cursor:pointer;
}

#checkout{
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}


#details{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width:30%;
  padding-right:20px;
}

label{
  font-size:9pt;
}

#details form{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#checkoutForm{
  display:flex;
  display:-webkit-flex;

}

#payment{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width:30%;
}

#miniBasket{
  display:flex;
  display:-webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width:70%;
  border-left: 1px dashed black;
  padding: 0px 10px 0px 20px;
}

.miniBasketItem{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction: row;
  border-bottom: 1px solid black;
  height:110px;
}

.miniBasketDetails{
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction: column;
  padding:0px;
  height:100px;
}

.miniBasketDetails p{
  font-size: 9pt;
  margin-bottom: 5px;
  margin-top:5px;
}

#miniBasketTotal{
  margin-left: 155px;
}

.checkoutPhoto{
  float:left;
  height:100px;
  width: 125px;
  margin-right:30px;
}

.checkoutPhoto img{
  height:75px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  display:block;
}

#basketSummaryHeading{
  border-bottom: 1px solid black;
}

#paymentButton, #confirmPayment, #editMiniBasket{
  height: 30px;
  width: 100%;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

#paymentButton:hover, #confirmPayment:hover, #editMiniBasket:hover{
  background-color:#fafafa;
  color:#207cca;
  cursor:pointer;
}

#editMiniBasket{
  margin-top: 20px;
}
