.searchResult{
  border-bottom:1px solid grey;
  background-color: rgba(255,255,255,0.9);
  padding:10px;
  padding-bottom:5px;
  box-shadow:  0 8px 6px -7px black;
  overflow:auto;
  display:flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  margin: 5px 0px 5px 0px;
  min-height: 170px;
}

.searchedProductDetails{
  display:flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.searchResult:hover{
  background-color:rgb(245,245,245);
  box-shadow:  0 8px 6px -15px black;
  cursor:pointer;
}

.searchResult:hover > section > h1.name{
  text-decoration:underline;
}

.searchResult .searchPhoto img{
  height:125px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  display:block;
}

.searchResult .searchPhoto{
  float:left;
  height:100px;
  width: 250px;
}

.searchResult section{
  float:left;
}

.quantity{
  display:block;
  width:100px;
  font-size:10pt;
  margin-top:-10px;
  padding: 0px 10px 10px 10px;
}

.name{
  padding: 10px 10px 0px 10px;
  color: #207cca;
}

.price{
  margin-top:-10px;
  padding:0px 10px 0px 10px;
  color:#AB0000;
}

.description{
  font-size:10pt;
  padding:0px 10px 0px 10px;
  margin-top:-10px;
}

.productID{
  font-size:10pt;
  width:30%;
  margin-top:-10px;
  padding: 0px 10px 0px 10px;
}
