.photo{
  float:left;
  height:auto;
  max-height: 300px;
  width: 300px;
  margin-right:0px;
}

.photo img{
  height:auto;
  max-height: 300px;
  width:auto;
  max-width:200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  display:block;
}

#productQuantity{
  width: 30px;
  height: 27px;
  padding: 0px 0px 0px 5px;
}

#basketButton{
  height:30px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

#basketButton:hover{
  background-color:#fafafa;
  color:#207cca;
  cursor:pointer;
}

.productAttributes{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

#singleProductDetails{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width:100%;
  padding-left: 30px;
}

#singleProductDetails p{
  margin: 5px 0 5px 0;
}

#singleProductDetails div{
  margin: 5px 0 5px 0;
}

#singleProductDetails h1{
  border-bottom:1px solid black;
  margin: 5px 0 5px 0;
  font-size: 25pt;
  color:#16578D;
}


#singleProductPrice{
  color: #AB0000;
}
